<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        body::before{
            background-image: url('/static/Book-Recommendations_full_990.jpg');
        }
    </style>
</head>
<body>
{#    <nav class="navbar" style="background-color:#ffffff">#}
{#        <a class="navbar-brand">My Book recommender</a>#}
{#        <ul class="nav navbar-nav">#}
{#            <li><a href="/">Home</a></li>#}
{#            <li><a href="/recommend">Recommend</a></li>#}
{#            <li><a>Contact</a></li>#}
{#        </ul>#}
{#    </nav>#}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: crimson; font-family: 'Comic Sans MS'; font-size: xx-large">TheBookNerd</a>
        <div class=" navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="margin: 1rem">
                <b><a class="nav-link" href="/">Home</a></b>
                <b><a class="nav-link" href="/top50">Top 50</a></b>
                <b><a class="nav-link" href="/recommend">Recommend</a></b>
                <b><a class="nav-link" href="/searchbygenre">Search by Genre</a></b>
                 <b><a class="nav-link" href="/urbooks">Underrated Books</a></b>
          </div>
            <div class="navbar-nav">
                <form action="/surprise" method="post">
                    <button formmethod="post" type="submit" class="btn btn-success" style="font-family: 'Comic Sans MS'; font-size: large; margin-right: 5px;">Surprise Me!</button>
                </form>
            </div>
        </div>
      </div>
</nav>

    <div class="container">
{#        <div class="row">#}
            <div class="col-md-12">
                <b><h1 style="margin: 1rem; color: white">Recommend Books</h1></b>
            </div>

                <form action="/recommend_books" method="post">
                    <input name="user_input" type="text" class="form-control user_input" placeholder="Type the name of an existing book" style="width: 325px; height: 50px;"><br>
                    <input type="submit" class="btn btn-lg btn-danger" style="margin: 1rem">
                </form>
            </div>

        {% if error %}
           <div class="alert alert-danger mt-4">{{ error }}</div>
        {% endif %}

            {% if data %}

{#             {% for i in data %}#}
{#                <div class="col-md-3">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <img class="card-img-top" src="{{i[2]}}">#}
{#                            <p>{{i[0]}}</p>#}
{#                            <h4>{{i[1]}}</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#             {% endfor %}#}

            <div class="card-container">
                {% for i in data %}
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ i[2] }}">
                            <b style="font-size: large; margin: 0px 0.25px"><li>{{ i[0] }}</li></b>
                            <li style="color: darkslategray">{{ i[1] }}</li>
{#                            <li style="color: darkslategray">Votes - {{ i[3] }}</li>#}
{#                            <li style="color: darkslategray">Rating - {{ i[4] | round }}</li>#}
                        </div>
                    </div>
                {% endfor %}
        </div>
            {% if not data %}
                <h1> "No Such Book exists in our database"</h1>
            {% endif %}

            {% endif %}
        </div>
    </div>

{#       {% if error %}#}
{#            <div class="alert alert-danger mt-4">{{ error }}</div>#}
{#        {% endif %}#}
{##}
{#        <!-- Display recommended books in cards -->#}
{#        <div class="row mt-5">#}
{#            {% for item in data %}#}
{#                <div class="col-md-3">#}
{#                    <div class="card mb-4">#}
{#                        <img src="{{ item[2] }}" class="card-img-top" alt="Book Cover">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ item[0] }}</h5>#}
{#                            <p class="card-text">{{ item[1] }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
